{% extends "mysitess/_layouts/base.html" %}
{% block title %}Página inicial{% endblock %}
{% block conteudo %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Cadastrar contato</h2>
           <a href="{% url 'mysitess:cadastra_contato' %}"
             class="btn btn-primary">
            Novo Contato
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Lista de Contatos</h2>
           <a href="{% url 'mysitess:lista_contatos' %}"
             class="btn btn-primary">
            Lista de contatos
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}