<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'mysitess:index' %}">My contacts</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'mysitess:index' %}">Home</a></li>
      <li><a href="{% url 'mysitess:cadastra_contato' %}">Cadastrar contato</a></li>
      <li><a href="{% url 'mysitess:lista_contatos' %}">Lista de contatos</a></li>
    </ul>
    </div>
</nav>

{% block conteudo %}{% endblock %}















 <footer class="page-footer font-small blue" style="background-color: #1C1C1C; position: absolute; bottom: 0; width: 100%"><br><br><br><br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div><!-- Copyright --><br><br><br><br>
</footer>

</body>
</html>